@import './utils/normilize';
@import './utils/vars';
@import './utils/mixins';

@import './blocks/header.scss';
@import './blocks/main-info.scss';
@import './blocks/register-block.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  color: $c-white;
};

.background-video {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 1000px;
  width: 100%;
  object-fit: cover;
  z-index: -1;

  &--in-form {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    z-index: -1;
  }
}